Cython>=0.29.2
numpy==1.18.0
pandas==0.25.3
scikit-optimize==0.8.1
scikit-learn==0.22.1
keras-nightly==2.5.0.dev2021032900
plotly==5.3.1
tensorflow==2.5.1
tsfresh==0.18.0
nolds==0.5.2
tslearn==0.5.2
funcy==1.15
matplotlib==3.4.3
scipy==1.5.4
seaborn==0.11.2
six==1.15.0
statsmodels==0.13.2
scikit-multiflow==0.5.3
catch22==0.2.0
ordpy==1.0.6
antropy==0.1.4
mock==4.0.3
kaleido==0.2.1
